.cover-image {
    /* Sizing */
    height: 100%;
    padding: 0px;
    margin: 0px;
    /* Centering */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}